.header-select .mat-form-field-infix{
    font-size:16px;
}
.font16{
    font-size:16px;
}
.right-menu{
    display: block;
    right: 10px;
    position: absolute !important;
}
.left-section{
    display: block;
}
.logo{
    font-size: 50px;
    font-family: initial;
}
.logo img{
    max-width: 160px;
}
.app_name{
    font-size: 27px;
}