.panel-sec .mat-expansion-panel-header,.panel-sec .mat-expansion-panel-header:hover{
    height: 37px !important;
    box-shadow: 2px 2px 2px #ccc;
    background: #58578ca3 !important;
}
.panel-sec .mat-expansion-panel-header .mat-expansion-panel-header-title,
.panel-sec .mat-expansion-panel-header .mat-expansion-panel-header-title:hover{
    color: #fff;
    font-size:16px;
}
.mat-expansion-panel-body{
    padding-top:20px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    padding-top: 20px;
    margin-right: 20px;
}
.coll-sec .mat-expansion-panel-body{
    padding-top: 10px;
}

.date-field .mat-form-field-wrapper{
     margin-right:0px;
}
.calendar-icon .mat-icon-button{
    width: auto;
    height: auto;
}
.panel-sec .mat-form-field-label{
    font-size:14px;
    color: #421396;
}
.panel-sec .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    -webkit-transform: translateY(-1.38125em) scale(0.7) perspective(30px) translateZ(10.5px);
    transform: translateY(-1.38125em) scale(0.7) perspective(30px) translateZ(10.5px);
}

.date-field.col-lg-4{
    width: 28%;
    padding-right: 0px;
}
.mat-expansion-indicator::after{
    color:#fff;
}