
<div class="col-md-3 side_menu p-0">
  <mat-card>{{menu_dashboard_label}}
<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_workspace_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
    <a class="nav-link submenu_style" routerLink="/dashboard/createapplication" routerLinkActive="Active">{{menu_create_application_label}}</a>
    <a class="nav-link submenu_style" routerLink="#" routerLinkActive="Active">{{menu_approve_application_label}}</a>
    <a class="nav-link submenu_style" routerLink="#" routerLinkActive="Active">{{menu_approvelist_label}}</a>
    <a class="nav-link submenu_style" routerLink="/dashboard/mysubmission" routerLinkActive="Active">{{menu_mysubmittion_label}}</a>
    <a class="nav-link submenu_style" routerLink="#" routerLinkActive="Active">{{menu_sharedbyme_label}}</a>
    <a class="nav-link submenu_style" routerLink="#" routerLinkActive="Active">{{menu_sharedtome_label}}</a>
    <a class="nav-link submenu_style" routerLink="#" routerLinkActive="Active">{{menu_draft_label}}</a>
  </mat-expansion-panel>
</mat-accordion>

<!-- 2nd Menu Section -->

<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_secondmenu_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
    
  </mat-expansion-panel>
</mat-accordion>

<!-- 3rd Menu Section -->

<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_third_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>


<!-- 4th menu section -->
<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_fourth_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>


<!-- 5th menu section -->
<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_fifth_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>

<!-- 6th menu section -->
<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_sixth_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="nav-link submenu_style" routerLink="/workflow/manageworkflow" routerLinkActive="Active">{{menu_manage_workflow_label}}</a>
  </mat-expansion-panel>
</mat-accordion>

<!-- 6th menu section -->
<mat-accordion>
  <mat-expansion-panel class="menu_bc_color">
    <mat-expansion-panel-header>
      <mat-panel-title class="menu_text_color">
        {{menu_seventh_label}}
      </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="nav-link submenu_style" routerLink="/user/manageapprover" routerLinkActive="Active">{{menu_manage_user_label}}</a>
  </mat-expansion-panel>
</mat-accordion>

</mat-card>

</div>