<div style="min-height: 100%;
position: relative;
display: block;
width: 100%;"> 
<app-menu></app-menu>

<div class="container col-lg-6 mt-60">
    <mat-card class="example-card form-content">
     <mat-card-header >
       <!-- <mat-card-title >{{login_title}}</mat-card-title> -->
     </mat-card-header>
     <mat-card-content>
        <h2>Hello ! From Dummy User management screen</h2>
        <h4> you can manage work flow from this window</h4>

    </mat-card-content>
     <mat-card-actions>
     </mat-card-actions>
   </mat-card>
 
 </div>

</div>
