<div style="min-height: 100%;
position: relative;
display: block;
width: 100%;"> 
<app-menu></app-menu>
<div style="margin-left: 28%;">
    <h2 class="mt-5 Page_title"><i class="fa fa-tachometer" aria-hidden="true"></i>{{dsb_title}}</h2>
    <div class="content mt-3">
            <div class="col-sm-6 col-lg-3">
                <div class=" card text-white bg-flat-color-1">
                    <i class="fa fa-list-alt card-icon" aria-hidden="true"></i>
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        <span class="count">18</span>
                    </h4>
                    <p class="text-white font18">{{dsb_all_label}}</p>
                </div>
            </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-2">
                            <i class="fa fa-thumbs-o-up card-icon" aria-hidden="true"></i>
                    <div class="card-body pb-0">
                        <h4 class="mb-0">
                            <span class="count">1</span>
                        </h4>
                        <p class="text-white font18">{{dsb_tile2_label}}</p>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-3">
                            <i class="fa fa-file-text card-icon" aria-hidden="true"></i>
                    <div class="card-body pb-0">
                        <h4 class="mb-0">
                            <span class="count">1</span>
                        </h4>
                        <p class="text-white font18">{{dsb_tile3_label}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-4">
                            <i class="fa fa-suitcase card-icon" aria-hidden="true"></i>
                    <div class="card-body pb-0">
                        <h4 class="mb-0">
                            <span class="count">2</span>
                        </h4>
                        <p class="text-white font18">{{dsb_tile4_label}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <section class="card">
                    <div class="grey-bg">
                       <div class="fa fa-user wtt-mark"></div>
                        <div class="media pt-5">
                            <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../assets/Image/admin.jpg">
                            </a>
                            <div class="media-body">
                                <h2 class="text-white display-6">Jim Doe</h2>
                                <p class="text-light">{{dsb_tile5_label}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <footer class="pro-footer">
                        <a href="#"><i class="fa fa-edit"></i></a>
                        {{dsb_tile9_label}}Edit Profile                       
                    </footer>
                </section>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card plain-card">
                    <div class="card-body">
                        <div class="status-box">
                            <div class="status-icon d-inline-block"><i class="fa fa-list text-primary border-primary"></i></div>
                            <div class="status-content d-inline-block">
                                <div class="status-text">{{dsb_tile6_label}} </div>
                                <div class="status-digit">112</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card plain-card">
                    <div class="card-body">
                        <div class="status-box">
                            <div class="status-icon d-inline-block"><i class="fa fa-question-circle-o text-warning border-warning"></i></div>
                            <div class="status-content d-inline-block">
                                <div class="status-text">{{dsb_tile7_label}}</div>
                                <div class="status-digit">61</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card plain-card">
                    <div class="card-body">
                        <div class="status-box">
                            <div class="status-icon d-inline-block"><i class="fa fa-check-square-o text-success border-success"></i></div>
                            <div class="status-content d-inline-block">
                                <div class="status-text">{{dsb_tile8_label}}</div>
                                <div class="status-digit">51</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
</div>